@import "tailwindcss";
@import "tw-animate-css";
@import "leaflet/dist/leaflet.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Nunito, ui-sans-serif, sans-serif, system-ui;
  --font-mono: JetBrains Mono, monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-serif: Lora, ui-serif, serif;
  --radius: 0.75rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.75rem;
  --background: oklch(0.9455 0.0378 86.8911);
  --foreground: oklch(0.5242 0.0191 46.3841);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.5242 0.0191 46.3841);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.5242 0.0191 46.3841);
  --primary: oklch(0.7144 0.1378 120.0504);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.7423 0.0810 235.7292);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.8963 0.0320 233.3256);
  --muted-foreground: oklch(0.5242 0.0191 46.3841);
  --accent: oklch(0.8376 0.1699 83.5950);
  --accent-foreground: oklch(0.5242 0.0191 46.3841);
  --destructive: oklch(0.5771 0.2152 27.3250);
  --border: oklch(0.8717 0.0093 258.3382);
  --input: oklch(0.9455 0.0378 86.8911);
  --ring: oklch(0.7423 0.0810 235.7292);
  --chart-1: oklch(0.7144 0.1378 120.0504);
  --chart-2: oklch(0.7423 0.0810 235.7292);
  --chart-3: oklch(0.8376 0.1699 83.5950);
  --chart-4: oklch(0.5242 0.0191 46.3841);
  --chart-5: oklch(0.8963 0.0320 233.3256);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.5242 0.0191 46.3841);
  --sidebar-primary: oklch(0.7144 0.1378 120.0504);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.8963 0.0320 233.3256);
  --sidebar-accent-foreground: oklch(0.5242 0.0191 46.3841);
  --sidebar-border: oklch(0.8717 0.0093 258.3382);
  --sidebar-ring: oklch(0.7423 0.0810 235.7292);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-sans: Nunito, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Lora, ui-serif, serif;
  --font-mono: JetBrains Mono, monospace;
  --shadow-color: 0 0 0;
  --shadow-opacity: 0.12;
  --shadow-blur: 0.6px;
  --shadow-spread: 0;
  --shadow-offset-x: 0;
  --shadow-offset-y: 0.35px;
  --letter-spacing: 0;
  --spacing: 0.25rem;
  --shadow-2xs: 0 0.35px 0.6px 0 hsl(0 0 0 / 0.06);
  --shadow-xs: 0 0.35px 0.6px 0 hsl(0 0 0 / 0.06);
  --shadow-sm: 0 0.35px 0.6px 0 hsl(0 0 0 / 0.12), 0 1px 2px -1px hsl(0 0 0 / 0.12);
  --shadow: 0 0.35px 0.6px 0 hsl(0 0 0 / 0.12), 0 1px 2px -1px hsl(0 0 0 / 0.12);
  --shadow-md: 0 0.35px 0.6px 0 hsl(0 0 0 / 0.12), 0 2px 4px -1px hsl(0 0 0 / 0.12);
  --shadow-lg: 0 0.35px 0.6px 0 hsl(0 0 0 / 0.12), 0 4px 6px -1px hsl(0 0 0 / 0.12);
  --shadow-xl: 0 0.35px 0.6px 0 hsl(0 0 0 / 0.12), 0 8px 10px -1px hsl(0 0 0 / 0.12);
  --shadow-2xl: 0 0.35px 0.6px 0 hsl(0 0 0 / 0.30);
  --tracking-normal: 0;
}

.dark {
  --background: oklch(0.2584 0.0537 236.4483);
  --foreground: oklch(0.9455 0.0378 86.8911);
  --card: oklch(0.3066 0.0614 239.6354);
  --card-foreground: oklch(0.9455 0.0378 86.8911);
  --popover: oklch(0.3066 0.0614 239.6354);
  --popover-foreground: oklch(0.9455 0.0378 86.8911);
  --primary: oklch(0.4380 0.0343 227.9307);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.7401 0.0330 222.2168);
  --secondary-foreground: oklch(0.2584 0.0537 236.4483);
  --muted: oklch(0.3618 0.0598 236.9391);
  --muted-foreground: oklch(0.7253 0.0462 71.4642);
  --accent: oklch(0.4207 0.0598 237.5029);
  --accent-foreground: oklch(0.9455 0.0378 86.8911);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --border: oklch(0.4380 0.0343 227.9307);
  --input: oklch(0.3618 0.0598 236.9391);
  --ring: oklch(0.7401 0.0330 222.2168);
  --chart-1: oklch(0.8452 0.1349 75.4253);
  --chart-2: oklch(0.6655 0.0254 232.0615);
  --chart-3: oklch(0.7401 0.0330 222.2168);
  --chart-4: oklch(0.7253 0.0462 71.4642);
  --chart-5: oklch(0.4380 0.0343 227.9307);
  --sidebar: oklch(0.2584 0.0537 236.4483);
  --sidebar-foreground: oklch(0.9455 0.0378 86.8911);
  --sidebar-primary: oklch(0.4380 0.0343 227.9307);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.4207 0.0598 237.5029);
  --sidebar-accent-foreground: oklch(0.9455 0.0378 86.8911);
  --sidebar-border: oklch(0.4380 0.0343 227.9307);
  --sidebar-ring: oklch(0.7401 0.0330 222.2168);
  --destructive-foreground: oklch(1.0000 0 0);
  --radius: 0.75rem;
  --font-sans: Nunito, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Lora, ui-serif, serif;
  --font-mono: JetBrains Mono, monospace;
  --shadow-color: 0 0 0;
  --shadow-opacity: 0.12;
  --shadow-blur: 0.6px;
  --shadow-spread: 0;
  --shadow-offset-x: 0;
  --shadow-offset-y: 0.35px;
  --letter-spacing: 0;
  --spacing: 0.25rem;
  --shadow-2xs: 0 0.35px 0.6px 0 hsl(0 0 0 / 0.06);
  --shadow-xs: 0 0.35px 0.6px 0 hsl(0 0 0 / 0.06);
  --shadow-sm: 0 0.35px 0.6px 0 hsl(0 0 0 / 0.12), 0 1px 2px -1px hsl(0 0 0 / 0.12);
  --shadow: 0 0.35px 0.6px 0 hsl(0 0 0 / 0.12), 0 1px 2px -1px hsl(0 0 0 / 0.12);
  --shadow-md: 0 0.35px 0.6px 0 hsl(0 0 0 / 0.12), 0 2px 4px -1px hsl(0 0 0 / 0.12);
  --shadow-lg: 0 0.35px 0.6px 0 hsl(0 0 0 / 0.12), 0 4px 6px -1px hsl(0 0 0 / 0.12);
  --shadow-xl: 0 0.35px 0.6px 0 hsl(0 0 0 / 0.12), 0 8px 10px -1px hsl(0 0 0 / 0.12);
  --shadow-2xl: 0 0.35px 0.6px 0 hsl(0 0 0 / 0.30);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}